version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: pharma-db
    environment:
      POSTGRES_DB: pharma_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - pharma-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  backend:
    build: ./backend
    container_name: pharma-backend
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/pharma_db
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - pharma-network

  frontend:
    build: ./frontend
    container_name: pharma-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - pharma-network

volumes:
  postgres-data:


networks:
  pharma-network:
    driver: bridge
